#west{width:;
       height:90vh;
      }


.wes{width:;
      height:80vh;}

.wes h2{font-size:30px;
         font-family:sans-serif;
         color:black;
           background:;
           border:;
           padding-left:560px;
            margin-top:100px;
             border:1px solid red;
              padding-top:10px;
              background-color:lightgray;}


.wes p{font-size:20px;
          word-spacing:4px;
            letter-spacing:4px;
           color:gray;
          
            width:60%;
               height:51%;
               margin-left:20%;
                   margin-top:30px;}



.wes img{width:800px;
            padding-left:260px;
             height:450px;
              padding-top:40px;}